[submodule "module-file"]
	path = module-file
	url = https://github.com/trustnloveu/java-module-file.git
[submodule "module-file-util"]
	path = module-file-util
	url = https://github.com/trustnloveu/java-module-file-util.git
[submodule "module-exception-monitoring"]
	path = module-exception-monitoring
	url = https://github.com/trustnloveu/java-module-exception-monitoring.git
[submodule "module_file"]
	path = module_file
	url = https://github.com/trustnloveu/java-module-file.git
[submodule "module_file_util"]
	path = module_file_util
	url = https://github.com/trustnloveu/java-module-file-util.git
[submodule "module_exception_monitoring"]
	path = module_exception_monitoring
	url = https://github.com/trustnloveu/java-module-exception-monitoring.git
[submodule "module_redis"]
	path = module_redis
	url = https://github.com/trustnloveu/java-module-redis.git
